*::before,
*::after {
  box-sizing: border-box;
}
h1{ 
  color: #FFF0FF;
}

body {
  font-family:  sans-serif;
  font-size: 1.3rem;
}

#title {

}
 *::before,
*::after {
  box-sizing: border-box;
}
h1{ color: #FFF0FF;
  
}
#img-div {
    background:hsl(200, 1%, 70%);
    padding: 10px;
    margin: 10px;  
}


p {
  padding: 10px;
}

.influential {
  background-color :hsl(200, 2%, 30%);
  text-align: center;
  padding: 3rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}

img {
  display: block;
  width: 80%;
  max-width: 500 px;
  height: auto;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.short-story {
  font-size: 1.2rem;
  text-align: justify;
  
}

.container li span {
  font-weight: 500;
}

ul li {
  font-size: 1.1rem;
  text-align: justify;
}

.content {
  background-color:hsl(200, 0%, 60%);
  padding: 2rem;
}



.achievements h3 {
  text-align: center;
}
.more-info {
  text-align: center;
}

footer {
  background-color: hsl(200, 0%, 50%);
  padding: 1rem;
}


.influential {
  background-color :hsl(200, 2%, 30%);
  text-align: center;
  padding: 3rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

img {
  display: block;
  width: 80%;
  max-width: 500 px;
  height: auto;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.short-story {
  font-size: 1.2rem;
  text-align: justify;
  padding: 2rem;
  
}

.container li span {
  font-weight: 500;
}

ul li {
  font-size: 1.1rem;
  text-align: justify;
}

.content {
  background-color:hsl(200, 0%, 60%);
  padding: 2rem;
}



.achievements h3 {
  text-align: center;
}
.more-info {
  text-align: center;
}

footer {
  background-color: hsl(200, 0%, 50%);
  padding: 1rem;
}